<div class="container">
<h1>About</h1>

<p>Just a simple app that uses Ruby on Rails with a PostgreSQL database with user authentication 
using BCrypt for hashing and Bootstrap to look pretty. This is practice with Rails routing, resources, and
erb (Embedded RuBy code) partials. Ruby erb files are like JavaScript ejs files.
</p>
<p>Users can sign up, enter a Contact with name, email, phone, title, etc., and information
 will be preserved to a database on their computer.  </p>

</div>