<!--   -->
<div class="container"> 
            <div class="center-text jumbotron ">
                <h1>Contacts Manager</h1>
                <span><%= link_to "Sign Up",  new_user_url, class: "btn btn-primary btn-lg" %></span>
                <span> OR </span>
                <span><%= link_to "Sign In", new_session_url, class: "btn btn-primary btn-lg" %></span>
            </div>
        
</div>
